<div class="container py-3">
    <h1>Add a New Drink</h1>
    <%= simple_form_for [ @cocktail ] do |f| %>
    <%= f.input :name %>
    <!--  <%= f.input :image_scr %> -->
    <%= f.input :photo, as: :file %>
    <%= f.rich_text_area :rich_body %>
    <%= f.submit "Submit Drink", class: "btn btn-primary" %>
    <% end %>
</div>